body
{ margin:auto;
background-image: url("image/j4o.gif");
 
  background-attachment: fixed; 
  background-size: 100% 100%;
}



.wrapper
 {background-image: url("image/q1.jpg");
 
  background-attachment: fixed; 
  background-size: 100% 100%;
//background-color:#87d2ec;
	height:700px;
  border:10px  solid white;
    border-radius:40px;
    margin-left:450px;
	  margin-right:515px;
    margin-top:80px;
	font-size:30px;
	color:#251f1f;
	text-align:center;
    font-family: sans-serif;
   width: 48%;
} 
#text2
{
	background-color:yellow;
	width:240px;
	height:40px;
  border:5px  solid white;
  border-radius:30px;
  margin-left:30px;
  padding-top:4px;
  margin-top:-55px;
}

#text1
{
	background-color:yellow;
	width:190px;
	height:40px;
  border:5px  solid white;
  border-radius:30px;
  margin-left:610px;
  margin-top:26px;
  padding-top:4px;
}

button
{
		width:90px;
	height:40px;
	font-size:25px;
	// border-radius:30px;
	 border-radius:10px;
}
input
{
	width:230px;
	height:30px;
	font-size:25px;
	
}

#demo
{
	background-color:yellow;
	width:240px;
	height:40px;
  border:5px  solid white;
  border-radius:30px;
  margin-left:310px;
  padding-top:4px;
  margin-top:-55px;
}
